@import url("https://fonts.googleapis.com/css?family=Nunito Sans");
:root {
  --banner-para: #b73427;
  --banner-text: #d58d48;
  --banner-underline: #924e0d;
  --banner-outer: #f1ead6;

  --pt-black: #2d2d2d;
  --pt-grey: #8faeb4;
  --pt-grey-2: #0a4d5a;
  --ac-green-1: #52c88c;
  --ac-green-2: #01b460;
  --es-red-1: #ff4c4c;
  --es-red-2: #d0021b;
  --ht-pink: #f87195;
  --ht-blue-1: #69a7ee;
  --ht-blue-2: #4990e2;
  --ht-gold-1: #e6da71;
  --ht-gold-2: #ab9355;
  --ht-orange: #d0021b;
  --bk-grey: #efefef;
  --sp-grey: #eaeaea;
  --white: white;
  --new-green: #63c050;
  --app-color-main: #1e88e5;

  /*  app-color-main: rgb(255, 252, 102);*/
}

html,
body {
  height: 100%;
  background-color: white;
}

.black {
  color: #1b1c1d;
}
.grey {
  color: #767676;
}

.green {
  color: var(--new-green);
}
.red {
  color: var(--ht-orange);
}

.inline {
  display: inline;
}
.block {
  display: block;
}
.pointer {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.autoheight {
  height: auto;
}

@import url("https://fonts.googleapis.com/css?family=Chilanka");

.big-font {
  font-weight: 550;
  letter-spacing: 0.5px;
  font-size: 18px;
  color: rgb(26, 26, 26);
  --color: #072448;
  font-family: "Chilanka";
}

.ar {
  float: right;
  color: #1b1c1d;
}

.ac {
  text-align: center;
  padding-bottom: 4px;
  border-bottom: solid 1px var(--sp-grey);
}

.align-center {
  text-align: center;
}
.center {
  text-align: center;
}

.head {
  display: inline;
  --margin: -0.21425em 0 0;
  font-weight: 400;
  font-size: 18px;
}

.ui.items > .item > .content > .description {
  margin-top: 0em;
  max-width: auto;
  font-size: 1em;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}

.ui.divider {
  margin-bottom: 0rem;
}

.icon {
  --color: white;
}

input:focus {
  border: 1px solid rgb(219, 219, 219) !important;
}

.white {
  color: white;
}

.pb5 {
  padding-bottom: 5px;
}

.pb0 {
  padding-bottom: 0px;
}
.pt5 {
  padding-top: 5px;
}

.pl5 {
  padding-left: 5px;
}

.pl20 {
  padding-left: 0px;
}

.mb5 {
  margin-bottom: 5px;
}

.mt5 {
  padding: 20px;
}

.mb0 {
  margin-bottom: 0px;
}
.mb10 {
  margin-bottom: 20px;
}
.test {
  color: #1b1c1d;
  margin-top: 10px;
  font-size: 21px;
}

.ui.items {
  margin-top: 0px;
}

h2 {
  margin-top: 0px;
}

.ml5 {
  margin-left: 5px;
}

.mr5 {
  margin-right: 5px;
}
@import url("https://fonts.googleapis.com/css?family=Manjari");
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  --font-family: "Manjari";
}

/************* NavBar **********/
@import url("https://fonts.googleapis.com/css?family=Satisfy");

.balance-container {
  background-color: rgb(255, 252, 104);
  --border: solid 2px black;
  --border-radius: 5px;
  box-shadow: 0.5px 0.5px 3px;
  box-shadow: brown;
  padding: 1vw 1vw;
}

#navbar {
  --background: #2962ff;
  background: #1f8d86;
  --background: rgb(255, 255, 255);
  --background: rgb(51, 51, 51);
  display: flex;
  color: rgb(36, 36, 36);
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  align-items: center;
  --box-shadow: 0px 0px 3px rgb(14, 13, 13);
}

.logo {
  float: left;
}

.logo-font {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Satisfy";
  font-size: 45px;
  --text-shadow: 1px 0px rgb(19, 18, 18);
}

.card-header {
  color: rgb(247, 245, 245);
  --font-family: "Manjari";
  font-size: 28px;
}

.new-container {
  background-color: rgb(51, 51, 51);
  min-height: 100vh;
}
@import url("https://fonts.googleapis.com/css?family=Satisfy|Open+Sans:300,400,600");

.login-logo-font {
  color: rgb(223, 223, 223);
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-size: 3.5em;
  letter-spacing: 2px;
}

.logo-signin {
  color: #999;
  letter-spacing: 2px;
  font-size: 2em;
}

.login-border {
  margin: 2px 0;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-top-color: rgba(255, 255, 255, 0.15);
  border-top-style: solid;
  border-top-width: 2px;
  border-right-color: rgba(255, 255, 255, 0.15);
  border-right-style: solid;
  border-right-width: 2px;
  border-bottom-color: rgba(255, 255, 255, 0.15);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-color: rgba(255, 255, 255, 0.15);
  border-left-style: solid;
  border-left-width: 2px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding: 20px 40px;
  border-radius: 4px;
}

/************* Main Container **********/
.main-container {
  --background-color: var(--app-color-main);
  --background-color: #ffffff;
  --background: linear-gradient(135deg, #ffffff, #fff5f5);
  --background: linear-gradient(135deg, #ffffff, #c294fa);
  background: url("/geometry2.png");

  --background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  padding: 5vw 8vw;
  min-height: 100vh;
}

.login-form {
  margin: 0 12vw;
  padding-top: 10vh;
}

/************* MEDIA **********/
@media (min-width: 600px) {
  #navbar {
    box-shadow: 0px 0px 5px rgb(192, 190, 190);
    min-height: 60px;
    padding-left: 5px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
  }
  .main-container {
    margin: 8vw 5vw 2vw 25vw;
    padding: 2vw 2vw;
    box-shadow: 0px 0px 10px rgb(27, 26, 26);
    border-radius: 10px;
  }

  .login-form {
    margin: 0 25vw;
  }

  .big-font {
    font-size: 20px;
  }

  #navbar {
    height: 5vw;
  }
}

@media (min-width: 900px) {
  .main-container {
    margin: 4vw 20vw 2vw 30vw;
    padding: 2vw 2vw;
  }

  .login-form {
    margin: 0 38vw;
  }

  #navbar {
    height: 5vw;
  }
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354c8c;
  letter-spacing: 1px;
  width: 240px;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png")
    6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5b7bd5;
  background-image: linear-gradient(#5b7bd5, #4864b1);
  cursor: pointer;
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #4885ed;
  letter-spacing: 1px;
  width: 240px;
}
.loginBtn--google:before {
  border: #4885ed 1px solid;
  background: url("/google.png");
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px 0px;
}
/* 
.visible.transition {
  margin-top: auto !important;
  display: inline-block !important;
  position: relative;
  top: 20%;
} */

.banner-text {
  padding: 0 0vw;
}

.tal {
  text-align: left;
}

.ow {
  --overflow-wrap: break-word;
  word-wrap: break-word;
  --hyphens: auto;
}

textarea {
  resize: none;
  overflow: auto;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  border: 0px solid rgb(238, 236, 236);
  outline: none;
  padding: 5px;
  background-image: url("/food.png");
}
textarea:focus {
  outline: none !important;
}

textarea:focus {
  outline-color: transparent !important;
  outline-style: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* input:focus {
  outline: none !important;
  outline-color: transparent !important;
  outline-style: none !important;
}

::-webkit-resizer {
  display: none;
  -webkit-appearance: none;
} */

textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.thickborder {
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(160, 160, 160);
  --background: transparent;
  --background: rgb(255, 255, 255);
  background-image: url("/food.png");
  --padding: 5px;
  --background: rgb(255, 203, 105);
  font-family: "Chilanka", cursive;

  color: rgb(255, 255, 255);
  --border: solid 1px #2d2d2d;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.box-money {
  height: 25px;

  --background: #2962ff;
  background: #f8aa4b;
  --background: #b688ff;
  --box-shadow: 0px 0px 2px #2d2d2d;
  box-shadow: 0px 0px 5px #999;
  width: 80%;
  padding: 4px 0;
  margin: auto;
  --box-shadow: 0px 0px 2px #1d1d1d;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  height: auto;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  --letter-spacing: 1px;
  --text-shadow: 0.3px 0.3px rgb(19, 18, 18);
  /* border-top: solid 1px #2d2d2d;
  border-left: solid 1px #2d2d2d;
  border-right: solid 1px #2d2d2d; */
}

.button-position {
}

.add-button {
  position: absolute;

  margin-left: 8vh;
  margin-top: 7vh;
  width: 60px;
  height: 60px;
  --background-color: #072448;
  --background-color: #ec407a;
  background: #4049ae;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 0px 2px #999;
}

.button-text {
  font-size: 50px;
  color: #fff;
}

.secondary {
  color: rgb(69, 121, 76);
}

.activityheader {
  font-size: 2vh;
}

.activitysubheader {
  font-size: 3.5vh;
  font-weight: 500;
  padding-left: 15px;
  margin: 0;
}

.plus {
  font-size: 10px;
}

.activity-span {
  font-size: 16px;
}

.activitynotes {
  font-size: 12px;
  letter-spacing: 1px;
}

.activity-amount {
  font-size: 2.3vh;
  vertical-align: "middle";
  /* font-weight: bold; */
}
